<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Cadastro</title>
    <link rel="stylesheet" href="public/js/css/style.css">
</head>

<body>
    <div class="register-container">
        <h2>Cadastro</h2>
        <form id="form-cadastro" method="POST">
            <div class="form-group">
                <label for="nome">Nome Completo:</label>
                <input type="text" name="nome" class="form-control" id="nome" placeholder="Digite seu nome completo">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Digite seu email">
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="senha" name="senha" class="form-control" id="senha" placeholder="Digite sua senha">
            </div>
            <div class="form-group">
                <label for="confirmeSenha">Confirme a Senha:</label>
                <input type="password" name="confirmeSenha" class="form-control" id="confirmeSenha"
                    placeholder="Confirme sua senha">
            </div>
            <button id="cadastrar" type="button" class="btn btn-primary btn-block">Cadastrar</button>
        </form>
        <a href="/login" class="login-link">Já tem uma conta? <strong>Faça login</strong></a>
        <a href="/estoque" class="login-link"><strong>Ir para o estoque</strong></a>
    </div>

    <script src="/public/js/cadastro.js"></script>
</body>

</html>